<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Georgian Vibe</title>
  </head>
  <body>
    <div id="root"></div>

    <script>
      window.userData = {
        username: "<%= username %>",
        userId: "<%= userId %>",
        sendedNotifications: JSON.parse(
          `<%- JSON.stringify(sendedNotifications) %>`
        ),
        receivedNotifications: JSON.parse(
          `<%- JSON.stringify(receivedNotifications) %>`
        ),
      };

      window.appData = {
        authenticated: "<%= authenticated %>",
        friendSuggestions: JSON.parse(
          `<%- JSON.stringify(friendsSuggestions) %>`
        ),
      };
    </script>

    <!-- Index -->
    <script type="module" src="../bundle.js"></script>
  </body>
</html>
